{% extends 'base3.html.twig' %}

{% block masterHeader %}

{% endblock %}
{% block body %}
    <div id="headerJob" class="header">

    <div class="container">
        <div id="image" class="image">
            <a href="{{ path('app_job_list') }}">
                <img src="https://ss.bestjobs.eu/img/bestjobs-logo.png" alt="Bestjobs" id="logoBestJobs">
            </a>
        </div>

        <div id="btn" class="btn">
            <a href="/job/new" id = "jobs">
                adauga job
            </a>
        </div>


    </div>
    </div>
    <div class="container m-t-lg" id="form">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.title) }}
            </div>
            <div class="col-md-12">
                {{ form_widget(form.title, {'attr': {'class': 'col-md-12'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.description) }}
            </div>
            <div class="col-md-12">
                {{ form_widget(form.description, {'attr': {'class': 'col-md-12'}}) }}
            </div>
        </div>
        {# <div class="row">
            <div class="col-md-4">

                <div class="row">
                    <div class="col-md-12">
                        {{ form_label(form.salariumin) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_widget(form.salariumin, {'type':'number', 'attr': {'class': 'col-md-12', 'placeholder': 'Aici bagi cati bani vrei minim'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_label(form.salariumax) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_widget(form.salariumax, {'attr': {'class': 'col-md-12'}}) }}
                    </div>

                </div>
            </div>


        </div>#}

        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.locatie) }}
            </div>
            <div class="col-md-12">
                {{ form_widget(form.locatie, {'attr': {'class': 'col-md-12'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-10">
                <button class="btn btn-lg btn-success" id="butonuldesubmit" type="submit">Activeaza</button>
            </div>

        </div>

        {{ form_end(form) }}
    </div>
    <script>
        /* $(document).ready(function(){
             $("#butonuldesubmit").click(function(){
                 $(".vreausadisparaasta").hide();
             });
         });*/
    </script>
    {% include 'BestJobs/footer.html.twig' %}

{% endblock %}
